<div class='component-content'>
  <div class = 'lefthalf'>
    <span class='component-title'>[{{title}}] </span>
    <span><a routerLink='/user/create'>
          <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
    </span>
  </div>
</div>
<p *ngIf='!users'>Loading ...</p>
<table class="table table-sm" *ngIf='users'>
  <tr>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Id')"><u>Id</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('UserName')"><u>User Name</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('LastName')"><u>Name</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('PhoneNumber')"><u>Phone</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Email')"><u>Email</u></a></th>
    <th class="table-secondary">Privilege</th>
    <th class="table-secondary">Action</th>
  </tr>
  <tr *ngFor='let user of users'>
    <td>{{user.id}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.lastName}}, {{user.FirstName}}</td>
    <td>{{user.phoneNumber}}</td>
    <td>{{user.email}}</td>
    <td>{{user.reviewer?"Rvw":""}} {{user.admin?"Adm":""}}</td>
    <td class='actions'>
      <img src='assets/details.png' width='20' height='20' title='Detail'>
      <img src='assets/pencil-icon.png' width='20' height='20' title='Edit'>
    </td>
  </tr> 
</table>
