<div>
  <h2>Work Experience</h2>
  <ul>
    <li>
      <h3>Sacred Beast Diner | October 2018 - present</h3>
      <h4>server / trainer</h4>
      <p>part-time work during Java developer bootcamp</p>
    </li>
    <li>
      <h3>Eighth & English | March 2017 - October 2018</h3>
      <h4>General Manager</h4>
      <p>General manager responsibilities</p>
    </li>
    <li>
      <h3>Sotto | October 2016 - March 2017</h3>
      <h4>Beverage Director</h4>
      <p>Did stuff with wine.</p>
    </li>
  </ul>
</div>